<h1>Restaurants</h1>



 <% @restaurants.each do |restaurant| %>
 <div class="card" style="width: 18rem;">
 <p>
       <div><%= restaurant.name %></div> 
        <%= restaurant.address %>
        <div><%= restaurant.category %></div>
        <%= link_to 'Show', restaurant%>

    <% end %>
</p>
 
 </div>
 

  

<br>


<%= link_to "Create a new restaurant", new_restaurant_path, class: "btn btn-primary"%>
