<h3>Restaurant</h3>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>



<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

<br>

<h5>Reviews</h5>

<% if @restaurant.reviews.empty? %>
  <p>No reviews for this restaurant</p>
<% else %>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
       
        Rating: <%= review.rating %> -  <%= review.content %>
      </li>
    <% end %>
  </ul>
<% end %>