<div class="text-primary mb-5">
  <%= flash[:notice] %>
</div>

<h3>Restaurant</h3>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>


<%= simple_form_for [ @restaurant, Review.new ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>



<br>

<h5>Reviews</h5>

<% if @restaurant.reviews.empty? %>
  <p>No reviews for this restaurant</p>
<% else %>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
       
        Rating: <%= review.rating %> -  <%= review.content %>
      </li>
    <% end %>
  </ul>
<% end %>